{% extends 'base.html.twig' %}

    {% block header %}
        Welcome to Starting5
    {% endblock header %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>NBA FRANCHISES</h2>
                    <ul>
                        {% for team in teams %}
                            {% if team.isNBAFranchise %}
                                <li>{{ team.fullName }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}