{% if(app.user.battleMode) %}
    <div class="col-md-12 text-center">
        <h2><a class="btn btn-battle-mode waves-effect" href="{{ path('battle.index') }}"><span class="ti-basketball"></span>  Battle Mode</a></h2>
    </div>
{% else %}
    <div class="col-md-12 text-center bg-danger">
        <h2>Battle Mode is not activated</h2>
    </div>
{% endif %}