{% if(app.user.battleMode) %}
    <div class="col-md-12 text-center bg-success">
        <h2><a href="{{ path('battle.index') }}">Battle Mode</a></h2>
    </div>
{% else %}
    <div class="col-md-12 text-center bg-danger">
        <h2>Battle Mode is not activated</h2>
    </div>
{% endif %}