<div class="col-md-12 text-center" id="confront" data-team-id="{{ team.id }}">
    <h2>
        <a class="btn btn-battle-mode waves-effect" href="#"><span class="ti-basketball"></span> Battle the LineUp by {{ user.username }}</a>
    </h2>
    <script type="text/javascript">
        var confront = $("#confront");
        var loading = $('.loading');
        confront.click(function () {
            $.ajax({
                url: '{{ path('battle') }}',
                data: 'opponentTeamId=' + $(this).attr('data-team-id'),
                type: 'POST',
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                }
            });
        });
    </script>
</div>