{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-lg-12 mx-auto">
            <a href="{{ path('battle.list') }}">Back</a>
            {% include 'starting5/battle/battle.html.twig' with {'battle' : battle} %}
            <h2>My Players</h2>
        {% if players | length > 0 %}
            <div class="row">
                <div class="col-md-1"></div>
                {% for player in players %}
                    <div class="col-md-2 text-center">
                        {% include 'starting5/players/player.html.twig' with {'player': player.playerId} %}
                        <p class="btn btn-danger">A.P : {{ player.actionPoint }} </p>
                    </div>
                {% endfor %}
                <div class="col-md-1"></div>
            </div>
        {% endif %}
            <hr>
            {% if rounds | length > 0 %}
                {% for round in rounds %}
                    {% include 'starting5/battle/round.html.twig' with {'round' : round} %}
                {% endfor %}
            {% else %}
                <div class="bg-danger">
                    ERROR
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}