{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Mon 5 Majeur</h1>
    {% endblock header %}

{% block body %}
    <section id="about">
        <div class="container">
            <p>
                <a href="{{ path('user.players') }}">Mes joueurs</a>
            </p>
            <h1>All My Forwards</h1>
            <div class="row">
                {% if(forwards|length > 0) %}
                    {% for player in forwards %}
                    <div class="col-md-4">
                        {% include 'starting5/players/player.html.twig' with {'player': player.playerId} %}
                    </div>
                {% endfor %}
                {% else %}
                    <div class="alert alert-danger">
                        No Forwards Available.
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}