{% for player in myPlayers %}
    <div class="col-md-3 my-players wow bounceIn">
        {% include 'starting5/players/player.html.twig' with {'player': player.playerId} %}
        <button class="btn btn-danger discard" id="{{ player.playerId.id }}"><i class="fas fa-user-times"></i></button>
    </div>
{% endfor %}

<script type="text/javascript">
    $(".discard").click(function () {

        var playerId = $(this).attr("id");

        $.ajax({
            url: '{{ path('discard.player') }}',
            type: 'POST',
            data: 'userPlayerId=' + playerId + '&page='+ currentPage,
            beforeSend: function () {
                loading.show();
            },
            complete: function () {
                loading.hide();
            },
            success: function (success) {
                $('.myPlayers').empty().append(success);
            }
        });
    });
</script>