{% for player in myPlayers %}
    <div class="col-md-2 my-players wow bounceIn">
        {% include 'starting5/players/player.html.twig' with {'player': player.playerId} %}
        <button class="btn btn-danger discard discard-{{ player.playerId.id }}">Discard</button>
    </div>
    <script type="text/javascript">
        $(".discard-{{ player.playerId.id }}").click(function () {
            $.ajax({
                url: '{{ path('discard.player') }}',
                type: 'POST',
                data: 'userPlayerId=' + {{ player.playerId.id }} + '&page='+ currentPage,
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    $('.myPlayers').empty().append(success);
                }
            });
        });
    </script>
{% endfor %}