{% for player in myPlayers %}
    <div class="col-md-4 my-players wow bounceIn">
        {% include 'starting5/players/player.html.twig' with {'player': player} %}
        <button class="btn btn-danger discard discard-{{ player['userPlayerId'] }}">Discard</button>
    </div>
    <script type="text/javascript">
        $(".discard-{{ player['userPlayerId'] }}").click(function () {
            $.ajax({
                url: '{{ path('discard.player') }}',
                type: 'POST',
                data: 'userPlayerId=' + {{ player['userPlayerId'] }},
                beforeSend: function () {
                    loading.show();
                },
                complete: function () {
                    loading.hide();
                },
                success: function (success) {
                    console.log(status);
                    $('.myPlayers').empty().append(success);
                }
            });
        });
    </script>
{% endfor %}