{% extends "base.html.twig" %}

{% block header %}
<h1>Bienvenue {{ user.username }}</h1>
{% endblock header %}

{% block body %}
    <section id="connexion_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>{{ user.username }}</h2>
                    <p>@MAIL - {{ user.email }}</p>
                    <a href="{{ path('fos_user_profile_edit') }}">Edit my profile</a>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
