{% extends 'base.html.twig' %}

{% block body %}
   <section class="container" ng-controller="Quizz">
       <h1>QUIZZ</h1>
       <div ng-if="!started">
           <button class="btn btn-primary" ng-click="startQuizz()">Commencer</button>
       </div>
       <div ng-if="!quizzEnd" ng-cloak>
       <div ng-if="started && !validatingQuizz">
            <div ng-show="loadingQuizz">Loading ...</div>


           <div ng-hide="loadingQuizz">

               <div>
                   <p ng-bind="countDown"></p>
               </div>

               <div ng-repeat="quizz in allquizz" ng-if="step == $index">

               <h2><strong>{[{quizz.question}]}</strong></h2>
               <div ng-if="quizz.type == 'QCM'">
                   <ul>
                       <li>
                           <input type="button" ng-click="bindSelectedQCM(quizz, 1)" value="{[{quizz.answer1}]}">
                       </li>
                       <li>
                           <input type="button" ng-click="bindSelectedQCM(quizz, 2)" value="{[{quizz.answer2}]}">
                       </li>
                       <li>
                           <input type="button" ng-click="bindSelectedQCM(quizz, 3)" value="{[{quizz.answer3}]}">
                       </li>
                       <li>
                           <input type="button" ng-click="bindSelectedQCM(quizz, 4)" value="{[{quizz.answer4}]}">
                       </li>
                   </ul>
               </div>
               <div ng-if="quizz.type == 'Question'">
                   <input type="text" ng-model="quizz.QCMAnswer">
               </div>

               <input ng-if="started" type="submit" placeholder="suivant" ng-click="next()">
               </div>

           </div>



       </div>
       <div ng-if="validatingQuizz">
           <p>En cours de validation ...</p>
       </div>
       </div>
       <div ng-if="quizzEnd" ng-cloak>
            <div ng-repeat="res in resultats">
                Question {[{ $index + 1 }]} : {[{ res.value }]}
            </div>
           <p>Total gagné : + {[{ totalPts }]}</p>
       </div>
   </section>
{% endblock %}