{% extends 'base.html.twig' %}
  {% block header %}
      <h2 class="text-light">
          QUIZZ
      </h2>
  {% endblock header %}
{% block body %}
   <div class="container quizz" ng-controller="Quizz">

       <div ng-if="!started">
           <button class="btn btn-battle-mode waves-effect" ng-click="startQuizz()"><span class="ti-basketball"></span> Start</button>
       </div>
       <div ng-show="started" class="myTeams-container">
       <div ng-if="!quizzEnd" ng-cloak>
       <div ng-if="started && !validatingQuizz">


            <div ng-show="loadingQuizz" class="loadingContainer"><i class="fa fa-spin fa-spinner"></i>chargements des quizz ...</div>

           <div ng-hide="loadingQuizz" >
               <div class="countdown">
                   <i class="fas fa-stopwatch"></i>
                   <p ng-bind="countDown"></p>
               </div>

               <div ng-repeat="quizz in allquizz" ng-if="step == $index">

               <h2 class="text-center question"><strong>{[{quizz.question}]}</strong></h2>
               <div ng-if="quizz.type == 'QCM'" class="qcm">
                   <ul>
                       <li>
                           <input class="qcm-btn" ng-class="{'selected': quizz.QCMAnswer == 1}" type="button" ng-click="bindSelectedQCM(quizz, 1)" value="{[{quizz.answer1}]}">
                       </li>
                       <li>
                           <input class="qcm-btn" ng-class="{'selected': quizz.QCMAnswer == 2}" type="button" ng-click="bindSelectedQCM(quizz, 2)" value="{[{quizz.answer2}]}">
                       </li>
                       <li>
                           <input class="qcm-btn" ng-class="{'selected': quizz.QCMAnswer == 3}" type="button" ng-click="bindSelectedQCM(quizz, 3)" value="{[{quizz.answer3}]}">
                       </li>
                       <li>
                           <input class="qcm-btn" ng-class="{'selected': quizz.QCMAnswer == 4}" type="button" ng-click="bindSelectedQCM(quizz, 4)" value="{[{quizz.answer4}]}">
                       </li>
                   </ul>
               </div>
               <div ng-if="quizz.type == 'Question'">
                   <input type="text" class="form-control" ng-model="quizz.QCMAnswer">
               </div>
                   <div class="text-center">
                       <button class="next" ng-if="started" ng-click="next()"><i class="fas fa-chevron-right"></i></button>
                   </div>
               </div>

           </div>



       </div>
       <div ng-if="validatingQuizz" class="loadingContainer">
               <i class="fa fa-spin fa-spinner"></i>En cours de validation ...
       </div>
       </div>
       <div ng-if="quizzEnd" ng-cloak>
           <h2 class="text-center">Récapitulatif</h2>
            <div ng-repeat="res in resultats">
                Question {[{ $index + 1 }]} : <span class="badge" ng-class="(res.value == 'true' || res.value == true) ? 'badge-success':'badge-danger'">{[{ res.value }]}</span>
            </div>
           <p>Total gagné : <span class="badge" ng-class="totalPts == 0 ? 'badge-secondary': 'badge-success'">+ {[{ totalPts }]}</span></p>
       </div>
       </div>
   </div>
{% endblock %}