{% extends 'base.html.twig' %}

    {% block header %}
        Welcome to Starting5
    {% endblock header %}

{% block body %}

    <div class="container">
        <div class="pack-list text-center">
            {% include 'starting5/pack/packs.html.twig' with {'packs': packs} %}
        </div>

        <div class="pack-content"></div>
        <div class="duplicate-players"></div>
    </div>
{% endblock %}