{% extends 'base.html.twig' %}

    {% block header %}
        <h1>Welcome to Starting5</h1>
        <p class="lead">Viens créer ton 5 majeurs de rêve NBA !</p>
    {% endblock header %}

{% block body %}

    <div class="container">
        <div class="pack-list text-center" style="margin: 100px;">
            {% include 'starting5/pack/packs.html.twig' with {'packs': packs} %}
        </div>

        <div class="pack-content"></div>
        <div class="duplicate-players"></div>
    </div>
{% endblock %}