{% extends 'base.html.twig' %}

    {% block header %}
        Welcome to Starting5
    {% endblock header %}

{% block body %}

    <div class="container">
        {% if points < constant('AppBundle\\Helper\\Pack::SILVER_PACK_PRICE') %}
            <div class="bg-danger customWarningBadge">
                <i class="fas fa-exclamation-circle"></i>
               You don't have enough points. Make some quizz to earn it.
            </div>
            {%  else %}
        <div class="pack-list text-center">
            {% include 'starting5/pack/packs.html.twig' with {'packs': packs} %}
        </div>

        <div class="pack-content"></div>
        <div class="duplicate-players"></div>
            {% endif %}
    </div>
{% endblock %}