<div id="about" class="wow fadeInUpBig" style="margin:150px;">
    <div class="container">
        <div class="row text-center">
            {% for player in packContent %}
                <div class="col-md-4">
                    {% include 'starting5/players/player.html.twig' with {'player': player} %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>