<div class="wow fadeInUpBig">
    <div class="row text-center pack-players">
        {% for player in packContent %}
                {% include 'starting5/players/player.html.twig' with {'player': player.player} %}
        {% endfor %}

        <div class="extra-card">
            <p class="text">Entraîneur</p>
            <i class="far fa-user"></i>
            <p class="text">{{ trainerStadium.trainer.firstname }}
                {{ trainerStadium.trainer.lastname }}</p>
        </div>
        <div class="extra-card">
            <p class="text">Stade</p>
            <img src="{{ asset('images/stadium.png') }}" alt="">
            <p class="text">{{ trainerStadium.stadium.name }}</p>
        </div>
    </div>
</div>