<h1>Small Forwards available</h1>
{% if forwards|length > 0 %}
    <label for="form_smallForward" class="required">Select My Small Forward</label>
    <select id="form_smallForward" name="form[smallForward]">
        {% for player in forwards %}
            <option value="{{ player.personId }}">{{ player.firstName }} {{ player.lastName }}</option>
        {% endfor %}
    </select>
    <div class="row">
        {% for player in forwards %}
            <div class="col-md-4">
                {% include 'starting5/players/player.html.twig' with {'player': player} %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">
        0 Forward Available
    </div>
{% endif %}