<section class="create-team"  ng-controller="Five">
    <div class="create-team-overflow">
        <div class="row create-team-overflow">
            <div class="col-lg-9 col-md-9 left-column">

                <div class="first-line line">


                    <!-- smallForward -->
                    <div class="input-player" ng-class="{'selected': smallForward.fullName, 'low': smallForward.rating < 80 , 'disabled': (selectedPoste != 'F' && selectedPoste != 'G-F' && selectedPoste != 'F-G' && selectedPoste != 'F-C' && selectedPoste != 'C-F' && selectedPoste != '' && !smallForward.fullName)}" data-drop="{[{ (selectedPoste == 'F' || selectedPoste == 'G-F' || selectedPoste == 'F-G' || selectedPoste == 'F-C' || selectedPoste == 'C-F') ? true : false }]}"
                         data-jqyoui-options ng-model="smallForward" jqyoui-droppable="{onDrop: 'dropCallback'}">
                        <div class="triangle-top"></div>
                        <button ng-if="smallForward.fullName" class="btn btn-danger btn-remove" ng-click="clearsmallForward()"><i class="fas fa-user-times" aria-hidden="true"></i></button>

                        <div class="portrait">
                            <i class="fa fa-ban"></i>
                            <i ng-show="!smallForward.fullName" class="fa fa-user"></i>
                            <p ng-show="!smallForward.fullName">Small Forward</p>
                            <div ng-show="smallForward.fullName" class="description">
                                <div class="top-left">
                                    <span class="rating" ng-bind="smallForward.rating"></span>
                                    <span class="position" ng-bind="smallForward.position"></span>
                                </div>
                                <div>
                                    <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{smallForward.playerId}]}.png" alt="">
                                </div>
                                <div class="bottom">
                                    <div>
                                        <p class="name" data-drag="false" data-jqyoui-options ng-model="smallForward">{[{smallForward.fullName}]}</p>
                                        <p class="posi">Small Forward</p>
                                    </div>
                                    <div>
                                        <ul class="list-stats">
                                            <li>
                                                ATQ : <b>{[{smallForward.offensiveRating}]}</b>
                                            </li>
                                            <li>
                                                DEF : <b>{[{smallForward.defensiveRating}]}</b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="triangle-bottom"></div>
                    </div>

                    <!-- pointGuard -->

                    <div class="input-player" ng-class="{'selected': pointGuard.fullName, 'low': pointGuard.rating < 80 , 'disabled': (selectedPoste != 'G' && selectedPoste != 'F-G' && selectedPoste != 'G-F' && selectedPoste != '' && !pointGuard.fullName)}" data-drop="{[{ (selectedPoste == 'G' || selectedPoste == 'F-G' || selectedPoste == 'G-F') ? true : false }]}"
                         data-jqyoui-options ng-model="pointGuard" jqyoui-droppable="{onDrop: 'dropCallback'}">
                        <div class="triangle-top"></div>
                        <button ng-if="pointGuard.fullName" class="btn btn-danger btn-remove" ng-click="clearpointGuard()"><i class="fas fa-user-times"></i></button>
                        <div class="portrait">
                            <i class="fa fa-ban"></i>
                            <i ng-show="!pointGuard.fullName" class="fa fa-user"></i>
                            <p ng-show="!pointGuard.fullName">Point Guard</p>
                            <div ng-show="pointGuard.fullName" class="description">
                                <div class="top-left">
                                    <span class="rating" ng-bind="pointGuard.rating"></span>
                                    <span class="position" ng-bind="pointGuard.position"></span>
                                </div>
                                <div>
                                    <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{pointGuard.playerId}]}.png" alt="">
                                </div>
                                <div class="bottom">
                                    <div>
                                        <p class="name" data-drag="false" data-jqyoui-options ng-model="pointGuard">{[{pointGuard.fullName}]}</p>
                                        <p class="posi">Point Guard</p>
                                    </div>
                                    <div>
                                        <ul class="list-stats">
                                            <li>
                                                ATQ : <b>{[{pointGuard.offensiveRating}]}</b>
                                            </li>
                                            <li>
                                                DEF : <b>{[{pointGuard.defensiveRating}]}</b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="triangle-bottom"></div>
                    </div>

                    <!-- shootingGuard -->
                    <div class="input-player" ng-class="{'selected': shootingGuard.fullName, 'low': shootingGuard.rating < 80, 'disabled': (selectedPoste != 'G' && selectedPoste != 'F-G' && selectedPoste != 'G-F' && selectedPoste != '' && !shootingGuard.fullName) }" data-drop="{[{ (selectedPoste == 'G' || selectedPoste == 'F-G' || selectedPoste == 'G-F') ? true : false }]}"
                         data-jqyoui-options ng-model="shootingGuard" jqyoui-droppable="{onDrop: 'dropCallback'}">
                        <div class="triangle-top"></div>
                        <button ng-if="shootingGuard.fullName" class="btn btn-danger btn-remove" ng-click="clearshootingGuard()"><i class="fas fa-user-times" aria-hidden="true"></i></button>
                        <div class="portrait">
                            <i class="fa fa-ban"></i>
                            <i ng-show="!shootingGuard.fullName" class="fa fa-user"></i>
                            <p ng-show="!shootingGuard.fullName">Shooting Guard</p>
                            <div ng-show="shootingGuard.fullName" class="description">
                                <div class="top-left">
                                    <span class="rating" ng-bind="shootingGuard.rating"></span>
                                    <span class="position" ng-bind="shootingGuard.position"></span>
                                </div>
                                <div>
                                    <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{shootingGuard.playerId}]}.png" alt="">
                                </div>
                                <div class="bottom">
                                    <div>
                                        <p class="name" data-drag="false" data-jqyoui-options ng-model="shootingGuard">{[{shootingGuard.fullName}]}</p>
                                        <p class="posi">Shooting Guard</p>
                                    </div>
                                    <div>
                                        <ul class="list-stats">
                                            <li>
                                                ATQ : <b>{[{shootingGuard.offensiveRating}]}</b>
                                            </li>
                                            <li>
                                                DEF : <b>{[{shootingGuard.defensiveRating}]}</b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="triangle-bottom"></div>
                    </div>
                </div>


                <div class="third-line line">
                    <!-- powerForward -->
                    <div class="">
                        <div class="input-player" ng-class="{'selected': powerForward.fullName, 'low': powerForward.rating < 80, 'disabled': (selectedPoste != 'F' && selectedPoste != 'G-F' && selectedPoste != 'F-G' && selectedPoste != 'F-C' && selectedPoste != 'C-F' && selectedPoste != '' && !powerForward.fullName)}" data-drop="{[{ (selectedPoste == 'F' || selectedPoste == 'G-F' || selectedPoste == 'F-G' || selectedPoste == 'F-C' || selectedPoste == 'C-F') ? true : false }]}"
                             data-jqyoui-options ng-model="powerForward" jqyoui-droppable="{onDrop: 'dropCallback'}">
                            <button ng-if="powerForward.fullName" class="btn btn-danger btn-remove" ng-click="clearpowerForward()"><i class="fas fa-user-times" aria-hidden="true"></i></button>
                            <div class="triangle-top"></div>
                            <div class="portrait">
                                <i class="fa fa-ban"></i>
                                <i ng-show="!powerForward.fullName" class="fa fa-user"></i>
                                <p ng-show="!powerForward.fullName">Power Forward</p>
                                <div ng-show="powerForward.fullName" class="description">
                                    <div class="top-left">
                                        <span class="rating" ng-bind="powerForward.rating"></span>
                                        <span class="position" ng-bind="powerForward.position"></span>
                                    </div>
                                    <div>
                                        <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{powerForward.playerId}]}.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <div>
                                            <p class="name" data-drag="false" data-jqyoui-options ng-model="powerForward">{[{powerForward.fullName}]}</p>
                                            <p class="posi">Power Forward</p>
                                        </div>
                                        <div>
                                            <ul class="list-stats">
                                                <li>
                                                    ATQ : <b>{[{powerForward.offensiveRating}]}</b>
                                                </li>
                                                <li>
                                                    DEF : <b>{[{powerForward.defensiveRating}]}</b>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="triangle-bottom"></div>
                        </div>
                    </div>


                    <!-- center -->
                    <div class="">
                        <div class="input-player" ng-class="{'selected': center.fullName, 'low': center.rating < 80 ,'disabled': (selectedPoste != 'C' && selectedPoste != 'F-C' && selectedPoste != 'C-F' && selectedPoste != '' && !center.fullName)}" data-drop="{[{ (selectedPoste == 'C' || selectedPoste == 'F-C' || selectedPoste == 'C-F') ? true : false }]}"
                             ng-model="center" jqyoui-droppable="{onDrop: 'dropCallback'}">
                            <div class="triangle-top"></div>
                            <button ng-if="center.fullName" class="btn btn-danger btn-remove" ng-click="clearcenter()"><i class="fas fa-user-times" aria-hidden="true"></i></button>
                            <div class="portrait">
                                <i class="fa fa-ban"></i>
                                <i ng-show="!center.fullName" class="fa fa-user"></i>
                                <p ng-show="!center.fullName">Center</p>
                                <div ng-show="center.fullName" class="description">
                                    <div class="top-left">
                                        <span class="rating" ng-bind="center.rating"></span>
                                        <span class="position" ng-bind="center.position"></span>
                                    </div>
                                    <div>
                                        <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{center.playerId}]}.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <div>
                                            <p class="name" data-drag="false" data-jqyoui-options ng-model="center">{[{center.fullName}]}</p>
                                            <p class="posi">Center</p>
                                        </div>
                                        <div>
                                            <ul class="list-stats">
                                                <li>
                                                    ATQ : <b>{[{center.offensiveRating}]}</b>
                                                </li>
                                                <li>
                                                    DEF : <b>{[{center.defensiveRating}]}</b>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="triangle-bottom"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-lg-3 col-md-3 container-players" ng-class="selectedPlayer.fullName ? 'selected':''">
                <div class="list-player" ng-if="!loadingPlayers">
                    <div class="item-player" ng-repeat="player in players track by $index" data-drop="true" ng-model="players" jqyoui-droppable="{ index: {[{$index}]} }">
                        <div class="btn btn-player" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="players" jqyoui-draggable="{index: {[{$index}]},placeholder:true,animate: false, onDrag: 'dragCallback(player)', onStop : 'dragStopCallback()'}" ng-hide="!player.fullName">
                            <div class="left-side">
                                <p>{[{player.rating}]} - {[{player.position}]}</p>
                                <p class="name">{[{player.fullName}]}</p>
                            </div>
                            <div class="right-side">
                                <img ng-src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{[{player.playerId}]}.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sendTeam" ng-if="!loadingPlayers">
                    <button class="btn waves-effect" ng-class="{'secondary': !center.fullName || !smallForward.fullName || !powerForward.fullName || !shootingGuard.fullName || !pointGuard.fullName} " ng-click="sendTeam()"><span class="ti-basketball"></span> <span ng-show="route != 'edit'">Créer ma team</span><span ng-show="route == 'edit'">Editer ma team</span></button>
                </div>
                <div class="loading-players" ng-if="loadingPlayers">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <p>Chargement des joueurs</p>
                </div>
            </div>


        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Finaliser mon 5</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Nom de ma team</label>
                            <input type="text" class="form-control" id="name" ng-model="teamName" placeholder="Entrer le nom de votre team">
                        </div>
                        <div class="form-group">
                            <label for="stade">Stade</label>
                            <div ng-show="loadingStadiums" class="text-center">
                                <i class="fa fa-spin fa-spinner"></i>
                            </div>

                            <select ng-show="!loadingStadiums" class="form-control" name="stade" id="stade" ng-model="stadium" ng-options="stad.name for stad in stadiums track by stad.id">
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="entraineur">Entraineur</label>
                            <div ng-show="loadingTrainers" class="text-center">
                                <i class="fa fa-spin fa-spinner"></i>
                            </div>


                            <select class="form-control" id="entraineur" name="entraineur" ng-model="trainer" ng-show="!loadingTrainers" ng-options="train.firstname for train in trainers track by train.id">
                            </select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createTeam()" ng-disabled="!stadium || !trainer || !teamName || sendingTeam">
                        <span ng-if="sendingTeam && route != 'edit'"><i class="fa fa-spin fa-spinner"></i> Création en cours</span>
                        <span ng-if="sendingTeam && route == 'edit'"><i class="fa fa-spin fa-spinner"></i> Edition en cours</span>
                        <span ng-if="!sendingTeam && route != 'edit'">Créer ma team</span>
                        <span ng-if="!sendingTeam && route == 'edit'">Editer ma team</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-success wow fadeInDown" role="alert" ng-if="sendingDone">
        <b ng-show="route != 'edit'">Team créée avec succès</b>
        <b ng-show="route == 'edit'">Team éditée avec succès</b>
        <br>
        <span>Vous allez être redirigé...</span>
    </div>
</section>

<script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}" type="text/javascript"></script>