{% extends 'base.html.twig' %}

    {% block header %}
        Mon 5 Majeur
    {% endblock header %}

{% block body %}

        <div class="container myPlayersList">
            <div class="row">
                <h2>
                    {% if(countTeam < 3) %}
                    <a href="{% if(countTeam < 3) %}{{ path('user.team.new') }}{% endif %}" class="btn btn-primary">
                            {% if userTeams|length > 0 %}
                                Create Another 5IVE
                            {% else %}
                                Create My First 5IVE
                            {% endif %}
                    </a>
                    {% endif %}
                </h2>
            </div>


            {% if userTeams|length > 0 %}
                {% for team in teams %}

                    {% include 'starting5/dashboard/team.html.twig' with {'team' : team } %}
                {% endfor %}
            {% else %}
                <p class="bg-danger customWarningBadge">
                    <i class="fas fa-exclamation-circle"></i> NO 5IVE AVAILABLE
                </p>
            {% endif %}

        </div>

{% endblock %}