{% extends 'base.html.twig' %}

{% block header %} Create my Five! {% endblock %}

{% block body %}
    {% if(userTeam is null) %}
        {% include 'starting5/dashboard/teams/dragdrop.html.twig' %}
    {% else %}
        <div class="bg-danger">
            You've already make a TEAM !
        </div>
    {% endif %}
{% endblock %}